  *{
    font-family: 'Manjari', sans-serif;
  }
  
  nav{
    margin-bottom: 40px;
    height: 80px;
  }
  .marginFix{
    margin: -0.48rem 0 .912rem 0;
    text-align: left;
  }

  .marginFix2{
    margin: -0.48rem 0 .912rem 0;
  }
  
  .card{
    border: 2px solid black;
  }
  
  .card.medium {
    height: 350px;
  }

  .card.small {
    height: 300px;
  }

  .row:after {
    content: "";
    display: inline-block;
    clear: both;
  }
